@model PLGDPBookingApp.Controllers.EventViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


@section css {

    <style type="text/css">
        .fc-event {
            cursor: pointer;
        }
    </style>

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-body">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts {

    <script type="text/javascript">
        $(function () {
            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');

            var calendar = new Calendar(calendarEl, {
                plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                'themeSystem': 'bootstrap',
                firstDay: 1, //The day that each week begins (Monday=1)
                slotMinutes: 60,
                //Random default events
                events: "/Home/GetEvents/",
                displayEventTime: false,
                eventClick: function (info) {
                    //alert('Event: ' + info.event.title);
                    window.open("/Bookings/Details/" + info.event.id);
                }
                //editable: true,
                //droppable: true, // this allows things to be dropped onto the calendar !!!
                //drop: function (info) {
                //    // is the "remove after drop" checkbox checked?
                //    if (checkbox.checked) {
                //        // if so, remove the element from the "Draggable Events" list
                //        info.draggedEl.parentNode.removeChild(info.draggedEl);
                //    }
                //}
            });

            calendar.render();
        });



    </script>
}